.root {
  position: absolute;
  left: 864px;
  top: 279px;
  width: 377px;
  height: 388px;
  flex-direction: column;
  align-items: flex-start;
}
.rectangle {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  border-radius: 12px;
  background-color: #151515eb;
}
.rectangle2 {
  position: absolute;
  left: 77.4536%;
  right: 4.5093%;
  top: 4.3814%;
  bottom: 89.433%;
  border-radius: 6px;
  background-color: #fff;
  box-shadow: 0px 0.3px 0.8px 0px #00000005;
}
.theGoodStuff {
  color: #fff;
  font-size: 14px;
  line-height: 20px;
  font-family: Roboto, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 12.9973%;
  right: 57.8249%;
  top: 4.8969%;
  bottom: 89.9485%;
  height: min-content;
  flex-direction: column;
}
.viewAll {
  color: #000;
  font-size: 12px;
  line-height: 16px;
  font-family: Roboto, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 80.6366%;
  right: 7.6923%;
  top: 5.4124%;
  bottom: 90.4639%;
  height: min-content;
  flex-direction: column;
}
.cash11 {
  position: absolute;
  left: 2.3873%;
  right: 89.1247%;
  top: 3.3505%;
  bottom: 88.4021%;
}
.icon {
  width: 100%;
  height: 100%;
}
.rectangle3 {
  position: absolute;
  left: 2.122%;
  right: 2.122%;
  top: 35.3093%;
  bottom: 45.1031%;
  border-radius: 12px;
  background-color: #000;
  box-shadow: 0px 0.3px 0.8px 0px #00000005;
}
.rectangle4 {
  position: absolute;
  left: 5.305%;
  right: 80.9019%;
  top: 38.4021%;
  bottom: 48.1959%;
  border-radius: 12px;
  background-color: #4f4f4f;
}
.frame31 {
  position: absolute;
  left: 4.7745%;
  right: 80.6366%;
  top: 38.6598%;
  bottom: 48.1959%;
  flex-direction: column;
  align-items: flex-start;
  border-radius: 9px;
  background-color: #fff;
  overflow: hidden;
}
.frame3 {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  flex-direction: column;
  align-items: flex-start;
  overflow: hidden;
}
.frame312 {
  position: absolute;
  left: 13px;
  top: 11px;
  width: 28px;
  height: 28px;
  overflow: visible;
}
.icon2 {
  width: 100%;
  height: 100%;
}
.contributeTheCode {
  background-image: linear-gradient(90deg, #1183ffff 0%, #0a4f99ff 100%);
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 16px;
  line-height: 24px;
  font-weight: bold;
  font-family: Roboto, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 23.3422%;
  right: 25.7294%;
  top: 42.0103%;
  bottom: 51.8041%;
  height: min-content;
  flex-direction: column;
}
.contribute {
  color: #fff;
  font-size: 12px;
  line-height: 16px;
  font-family: Roboto, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 72.679%;
  right: 7.1618%;
  top: 42.268%;
  bottom: 53.6082%;
  height: min-content;
  flex-direction: column;
}
.rectangle5 {
  position: absolute;
  left: 2.122%;
  right: 2.122%;
  top: 56.9588%;
  bottom: 23.4536%;
  border-radius: 12px;
  background-color: #1d4ed899;
  box-shadow: 0px 0.3px 0.8px 0px #00000005;
}
.rectangle6 {
  position: absolute;
  left: 5.305%;
  right: 80.9019%;
  top: 60.0515%;
  bottom: 26.5464%;
  border-radius: 12px;
  background-color: #4f4f4f;
}
.frame313 {
  position: absolute;
  left: 4.7745%;
  right: 80.6366%;
  top: 60.3093%;
  bottom: 26.5464%;
  flex-direction: column;
  align-items: flex-start;
  overflow: hidden;
}
.frame32 {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  flex-direction: column;
  align-items: flex-start;
  border-radius: 8px;
  background-color: #fff;
  overflow: hidden;
}
.frame322 {
  position: absolute;
  left: 11px;
  top: 9px;
  width: 31.9999px;
  height: 31.9999px;
  overflow: visible;
}
.icon3 {
  width: 100%;
  height: 100%;
}
.readTheDocumentation {
  color: #fff;
  font-size: 16px;
  line-height: 24px;
  font-weight: bold;
  font-family: Roboto, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 23.3422%;
  right: 25.9947%;
  top: 63.6598%;
  bottom: 30.1546%;
  height: min-content;
  flex-direction: column;
}
.read {
  color: #fff;
  font-size: 12px;
  line-height: 16px;
  font-family: Roboto, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 74.2706%;
  right: 7.1618%;
  top: 63.9175%;
  bottom: 31.9588%;
  height: min-content;
  flex-direction: column;
}
.rectangle7 {
  position: absolute;
  left: 2.122%;
  right: 2.122%;
  top: 13.6598%;
  bottom: 66.7526%;
  border-radius: 12px;
  background-color: #5865f2a6;
  box-shadow: 0px 0.3px 0.8px 0px #00000005;
}
.rectangle8 {
  position: absolute;
  left: 5.305%;
  right: 80.9019%;
  top: 16.7526%;
  bottom: 69.8454%;
  border-radius: 12px;
  background-color: #4f4f4f;
}
.frame314 {
  position: absolute;
  left: 4.7745%;
  right: 80.6366%;
  top: 17.0103%;
  bottom: 69.8454%;
  flex-direction: column;
  align-items: flex-start;
  border-radius: 8px;
  background-color: #fff;
  overflow: hidden;
}
.reactIconsBsDiscord {
  position: absolute;
  left: 11px;
  top: 9px;
  width: 32px;
  height: 32px;
}
.icon4 {
  width: 100%;
  height: 100%;
}
.joinTheCommunity {
  color: #fff;
  font-size: 16px;
  line-height: 24px;
  font-weight: bold;
  font-family: Roboto, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 23.3422%;
  right: 30.504%;
  top: 20.3608%;
  bottom: 73.4536%;
  height: min-content;
  flex-direction: column;
}
.join {
  color: #fff;
  font-size: 12px;
  line-height: 16px;
  font-family: Roboto, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 74.2706%;
  right: 7.1618%;
  top: 20.6186%;
  bottom: 75.2577%;
  height: min-content;
  flex-direction: column;
}
.rectangle9 {
  position: absolute;
  left: 2.122%;
  right: 2.122%;
  top: 78.6082%;
  bottom: 1.8041%;
  border-radius: 12px;
  background-color: #525252b8;
  box-shadow: 0px 0.3px 0.8px 0px #00000005;
}
.rectangle10 {
  position: absolute;
  left: 5.305%;
  right: 80.9019%;
  top: 81.701%;
  bottom: 4.8969%;
  border-radius: 12px;
  background-color: #4f4f4f;
}
.frame315 {
  position: absolute;
  left: 4.7745%;
  right: 80.6366%;
  top: 81.701%;
  bottom: 4.8969%;
  flex-direction: column;
  align-items: flex-start;
  overflow: hidden;
}
.frame33 {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
.icon5 {
  width: 100%;
  height: 100%;
}
.giveTheFeedback {
  color: #fff;
  font-size: 16px;
  line-height: 24px;
  font-weight: bold;
  font-family: Roboto, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 23.3422%;
  right: 25.9947%;
  top: 85.3093%;
  bottom: 8.5052%;
  height: min-content;
  flex-direction: column;
}
.give {
  color: #fff;
  font-size: 12px;
  line-height: 16px;
  font-family: Roboto, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 74.2706%;
  right: 7.1618%;
  top: 85.567%;
  bottom: 10.3093%;
  height: min-content;
  flex-direction: column;
}
