.arrowButtonArrow.arrowButtonArrow {
  z-index: 0;
}
.root {
  position: absolute;
  left: -7866px;
  top: -739px;
  width: 378px;
  height: 173.4551px;
  flex-direction: column;
  align-items: flex-start;
}
.bottomSection {
  position: absolute;
  left: 0.2646%;
  right: 0;
  top: 51.8866%;
  bottom: 23.8996%;
  flex-direction: column;
  padding: 10px 10px 24px 24px;
  border-radius: 0 0 18px 18px;
  background-image: linear-gradient(90deg, #ffff 0%, #adf6acff 100%);
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto;
}
.sorryThisProgramIsNotAvailable {
  color: #000;
  font-size: 20px;
  line-height: 26px;
  font-family: Abhaya Libre SemiBold, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: 0.025em;
  position: absolute;
  left: 5.343%;
  right: 7.8338%;
  top: 25.1232%;
  bottom: 42.4451%;
  flex-direction: column;
}
.buttonMain {
  position: absolute;
  left: 5.343%;
  right: 67.7196%;
  top: 62.1227%;
  bottom: 23.2601%;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 16px 20px;
  outline: solid 1px #fff;
  outline-offset: -1px;
  background-color: #0d0d0d;
}
.label {
  color: #fff;
  font-size: 13px;
  line-height: 16px;
  font-family: Anton, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: 0.2px;
  z-index: 0;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.topSection {
  position: absolute;
  left: 0;
  top: 35.6543px;
  width: 376.9999px;
  height: 137.3457px;
  overflow: visible;
}
.icon {
  width: 100%;
  height: 100%;
}
.subtract {
  position: absolute;
  left: 0;
  top: 162.4248px;
  width: 377px;
  height: 11.0303px;
  overflow: visible;
}
.icon2 {
  width: 100%;
  height: 100%;
}
.content {
  position: absolute;
  left: 46.5045%;
  right: 2.0042%;
  top: 26.5366%;
  bottom: 36.8177%;
  flex-direction: column;
  align-items: flex-start;
}
.frame28 {
  width: 198px;
  height: min-content;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}
.applyForCapital {
  color: #343739;
  font-size: 24px;
  line-height: 44px;
  font-family: Abhaya Libre SemiBold, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: 0.025em;
  width: 198px;
  height: min-content;
  flex-direction: column;
}
.smallDollarLoansGrantsAndInves {
  color: #8c8e8f;
  font-size: 16px;
  line-height: 22px;
  font-family: Abhaya Libre SemiBold, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: 0.005em;
  width: 198px;
  height: min-content;
  flex-direction: column;
}
._500Neopop1 {
  position: absolute;
  left: 2.2035%;
  right: 61.0336%;
  top: 0;
  bottom: 16.3466%;
}
.icon3 {
  width: 100%;
  height: 100%;
}
