.root {
  position: absolute;
  left: 69px;
  top: 279px;
  width: 731px;
  height: 436px;
  flex-direction: column;
  align-items: flex-start;
}
.rectangle {
  position: absolute;
  left: 0;
  top: 0;
  width: 731px;
  height: 436px;
  border-radius: 12px;
  background-color: #151515eb;
}
.rectangle2 {
  position: absolute;
  left: 9px;
  top: 184px;
  width: 715px;
  height: 116px;
  border-radius: 12px;
  background-color: #2b2b2b;
  box-shadow: 0px 0.3px 26.2px 5px #0000001f;
}
.iMAGE {
  position: absolute;
  background-image: url('https://vashong.github.io/widgets/images/imageedit_73_7770185140.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  left: 29px;
  top: 200.0001px;
  width: 84px;
  height: 84px;
}
.rectangle3 {
  position: absolute;
  left: 676px;
  top: 202px;
  width: 28px;
  height: 20px;
  outline: solid 2px #fff;
  outline-offset: -2px;
  border-radius: 10px;
  background-color: #f4f4f4;
}
.rectangle4 {
  position: absolute;
  left: 137px;
  top: 256px;
  width: 93px;
  height: 24px;
  border-radius: 12px;
  background-color: #144cc778;
}
.upgrade {
  color: #fbe67b;
  font-size: 12px;
  line-height: 16px;
  font-family: Roboto, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 168.4189px;
  top: 260px;
  width: 46.5px;
  height: 16px;
  flex-direction: column;
}
.billPaymint {
  color: #fff;
  font-size: 16px;
  line-height: 24px;
  font-family: Roboto, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 137px;
  top: 200.0001px;
  width: 390px;
  height: 24px;
  flex-direction: column;
}
.unnamed {
  color: #8a8a8a;
  font-size: 11px;
  line-height: 16px;
  font-family: Roboto, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: 0.2px;
  position: absolute;
  left: 687px;
  top: 204px;
  width: 7px;
  height: 16px;
  flex-direction: column;
}
.freePlan {
  color: #cfcfcf;
  font-size: 13px;
  line-height: 20px;
  font-family: Roboto, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 137px;
  top: 224px;
  width: 148px;
  height: 20px;
  flex-direction: column;
}
.rectangle5 {
  position: absolute;
  left: 8px;
  top: 56px;
  width: 715px;
  height: 116px;
  border-radius: 12px;
  background-color: #2b2b2b;
  box-shadow: 0px 0.3px 26.2px 5px #0000001f;
}
.r1 {
  position: absolute;
  left: 28px;
  top: 72px;
  width: 84px;
  height: 84px;
  border-radius: 10px;
  background-image:/* webpackIgnore: true */ url('/assets/r1.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.iMAGE2 {
  position: absolute;
  background-image: url('https://vashong.github.io/widgets/images/500%20neopop%201.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  left: 28px;
  top: 72px;
  width: 84px;
  height: 84px;
}
.rectangle6 {
  position: absolute;
  left: 675px;
  top: 74px;
  width: 28px;
  height: 20px;
  outline: solid 2px #fff;
  outline-offset: -2px;
  border-radius: 10px;
  background-color: #f4f4f4;
}
.fundingWidget {
  color: #fff;
  font-size: 16px;
  line-height: 24px;
  font-family: Roboto, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 136px;
  top: 72px;
  width: 390px;
  height: 24px;
  flex-direction: column;
}
.unnamed2 {
  color: #8a8a8a;
  font-size: 11px;
  line-height: 16px;
  font-family: Roboto, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: 0.2px;
  position: absolute;
  left: 686px;
  top: 76.0001px;
  width: 7px;
  height: 16px;
  flex-direction: column;
}
.freePlan2 {
  color: #cfcfcf;
  font-size: 13px;
  line-height: 20px;
  font-family: Roboto, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 136px;
  top: 96.0001px;
  width: 148px;
  height: 20px;
  flex-direction: column;
}
.imageedit_73_77701851401 {
  position: absolute;
  left: 33px;
  top: 216px;
  width: 75px;
  height: 59.8361px;
  background-image:/* webpackIgnore: true */ url('/assets/imageedit_73_77701851401.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.products {
  color: #fff;
  font-size: 13px;
  line-height: 20px;
  font-family: Roboto, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 49px;
  top: 19px;
  width: 66px;
  height: min-content;
  flex-direction: column;
}
.rectangle7 {
  position: absolute;
  left: 136px;
  top: 128px;
  width: 93px;
  height: 24px;
  border-radius: 12px;
  background-color: #144cc778;
}
.upgrade2 {
  color: #fbe67b;
  font-size: 12px;
  line-height: 16px;
  font-family: Roboto, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 167.4189px;
  top: 132px;
  width: 46.5px;
  height: min-content;
  flex-direction: column;
}
.rectangle8 {
  position: absolute;
  left: 8px;
  top: 308px;
  width: 715px;
  height: 116px;
  border-radius: 12px;
  background-color: #2b2b2b;
  box-shadow: 0px 0.3px 26.2px 5px #0000001f;
}
.iMAGE3 {
  position: static;
  left: 28px;
  top: 324.0001px;
  width: 1184px;
  height: 84px;
}
.rectangle9 {
  position: absolute;
  left: 675px;
  top: 326px;
  width: 28px;
  height: 20px;
  outline: solid 2px #fff;
  outline-offset: -2px;
  border-radius: 10px;
  background-color: #f4f4f4;
}
.rectangle10 {
  position: absolute;
  left: 136px;
  top: 380px;
  width: 93px;
  height: 24px;
  border-radius: 12px;
  background-color: #144cc778;
}
.upgrade3 {
  color: #fbe67b;
  font-size: 12px;
  line-height: 16px;
  font-family: Roboto, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 167.4189px;
  top: 384px;
  width: 46.5px;
  height: 16px;
  flex-direction: column;
}
.vector {
  position: absolute;
  left: 19.9726%;
  right: 77.9754%;
  top: 88.0734%;
  bottom: 8.4862%;
  overflow: visible;
}
.icon {
  width: 100%;
  height: 100%;
}
.creditCardMarketplace {
  color: #fff;
  font-size: 16px;
  line-height: 24px;
  font-family: Roboto, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 136px;
  top: 324.0001px;
  width: 390px;
  height: 24px;
  flex-direction: column;
}
.unnamed3 {
  color: #8a8a8a;
  font-size: 11px;
  line-height: 16px;
  font-family: Roboto, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: 0.2px;
  position: absolute;
  left: 686px;
  top: 328px;
  width: 7px;
  height: 16px;
  flex-direction: column;
}
.freePlan3 {
  color: #cfcfcf;
  font-size: 13px;
  line-height: 20px;
  font-family: Roboto, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 136px;
  top: 348px;
  width: 148px;
  height: 20px;
  flex-direction: column;
}
._6389fd6b969b1b55229797b2_Untit {
  position: absolute;
  left: 33px;
  top: 331px;
  width: 75px;
  height: 75px;
  background-image:/* webpackIgnore: true */ url('https://vashong.github.io/widgets/images/6389fd6b969b1b55229797b2_Untitled%20design%20(67).png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.iMAGE2,
.rectangle6,
.fundingWidget,
.unnamed2 {
  cursor: pointer;
}